.selected-trip-weather-wrapper {
    background-color: #0a0444;
    color: white;
    width: 35%;
    box-shadow: 0 1px 16px 2px rgba(210, 210, 210, 0.75);
}

.selected-trip-weather-wrapper-masking {
    background-position: 200% 80%;
    background-repeat: no-repeat;
    background-size: 500px;
    height: 100%;
}

.selected-trip-weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 25%;
    font-weight: normal;
    z-index: 1000;
}

.selected-trip-weather-card-weekday {
    font-weight: bold;
    font-size: 40px;
}

.selected-trip-weather-card-icon-temp-wrapper {
    display: flex;
    flex-direction: row;
    width: 220px;
    align-items: center;
    justify-content: space-around;
}

.selected-trip-weather-card-icon {
    width: 100px;
    height: 100px;
}

.selected-trip-weather-card-temp {
    font-size: 50px;
}

.selected-trip-weather-card-temp-celcius {
    font-weight: 100;
}

.selected-trip-weather-card-city {
    font-size: 40px;
    font-weight: lighter;
}

.selected-trip-weather-card-timer-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 55px;
    margin-top: 150px;
}

.selected-trip-weather-card-timer-element-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 7px;
}

.selected-trip-weather-card-timer-element-time {
    font-weight: 900;
    font-size: 40px;
}

.selected-trip-weather-card-timer-element-type {
    font-size: 16px;
    font-weight: 100;
    opacity: 0.8;
}
