.main-block {
    width: 65%;
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-block-header {
    font-weight: normal;
}

.search-trip-input {
    background-color: rgba(240, 240, 243, 0.78);
    padding: 15px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.search-trip-input::placeholder {
    color: black;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .main-block {
        width: 100%;
        padding: 10px 0 10px 0;
        gap: 10px;
    }

    .main-block > * {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 375px) {
    .main-block {
        gap: 5px;
    }
}