.week-forecast-wrapper {
    max-width: 850px;
    display: flex;
    flex-direction: column;
}

.week-forecast-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    overflow-x: hidden;
    height: 310px;
    scroll-margin: 20px;
    scroll-behavior: smooth;
    margin-top: 20px;
}

.week-forecast-placeholder {
    color: gray;
    font-size: 20px;
    align-self: center;
    width: max-content;
}

.week-forecast-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
}

.week-forecast-card-weekday-wrapper {
    color: gray;
}

.week-forecast-card-icon-wrapper {
    height: 70px;
    width: 70px;
    padding: 0;
}

.week-forecast-card-icon {
    max-height: 100%;
    max-width: 100%;
}

.week-forecast-card-temps-wrapper {
    font-size: 22px;
}

@media only screen and (max-width: 1024px) {
    .week-forecast-container {
        grid-template-columns: repeat(4, 1fr);
        height: 155px;
    }
}

@media only screen and (max-width: 768px) {
    .week-forecast-wrapper {
        width: fit-content;
    }

    .week-forecast-container {
        grid-template-columns: repeat(5, 1fr);
        height: 155px;
    }
}

@media only screen and (max-width: 435px) {
    .week-forecast-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 380px) {
    .week-forecast-container {
        align-self: center;
    }

    .week-forecast-card {
        gap: 7px;
    }

    .week-forecast-card-icon-wrapper {
        height: 45px;
        width: 45px;
    }

    .week-forecast-card-icon {
        height: 45px;
        width: 45px;
        max-height: 100%;
        max-width: 100%;
    }

    .week-forecast-card-temps-wrapper {
        font-size: 16px;
    }

    .week-forecast-container {
        height: 96px;
    }
}