* {
    padding: 0;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 50%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.1);
    font-size: 20px;
}